      <nav class="navbar navbar-expand-lg navbar-light bg-info">
        <div class="container">
          <a class="navbar-brand text-light" href="/"><i class="fa fa-birthday-cake"></i> <span>ながのCAKE</span></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-lavel="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
              <%if user_signed_in?%>
              <li>
                <%= link_to users_show_path(current_user), class: 'nav-link text-light' do %>
                  <i class="fas fa-home"></i> Home
                <%end%>
              </li>
              <li>
                <%= link_to users_index_path, class: 'nav-link text-light' do %>
                  <i class="fas fa-users"></i> Users
                <%end%>
              </li>
              <li>
                <%= link_to books_path, class: 'nav-link text-light' do %>
                  <i class="fas fa-book-open"></i> Books
                <%end%>
              </li>
              <li>
                <%= link_to destroy_user_session_path, class: 'nav-link text-light' do %>
                  <i class="fas fa-sign-out-alt"></i> Log out
                <%end%>
              </li>
              
              <%else%>
              
              <li>
                <%= link_to root_path, class: 'nav-link text-light' do %>
                  <i class="fas fa-home"></i> ホーム
                <%end%>
              </li>
              <li>
                <%= link_to home_about_path, class: 'nav-link text-light' do %>
                  <i class="fas fa-store"></i> 商品一覧
                <%end%>
              </li>
              <li>
                <%= link_to new_user_registration_path, class: 'nav-link text-light' do %>
                  <i class="fas fa-user-plus"></i> 会員登録
                <%end%>
              </li>
              <li>
                <%= link_to new_user_session_path, class: 'nav-link text-light' do %>
                  <i class="fas fa-sign-in-alt"></i> ログイン
                <%end%>
              </li>
              <%end%>
            </ul>
          </div>
        </div>
      </nav>